name: Run Python Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    env:
      TEST_DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      TEST_DATABASE_USER: ${{ secrets.DATABASE_USER }}
      TEST_DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      TEST_DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      TEST_DATABASE_PORT: ${{ secrets.DATABASE_PORT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'  # or 3.10, 3.9, etc.

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          python -m unittest discover -s automation/unit_tests
